body {
    background-color: black !important;
    font-family: 'Poppins';
    color: #FFFFFF !important;
}

p {
    font-family: 'Poppins';
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Germania One';
    color: #EAC88C !important;
}

.navbar {
    height: 6rem;
}

.navbar-brand,
.navbar-nav .nav-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-link {
    color: white !important;
}

.hero {
    background-image: url("images/background/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
    height: 100vh;
}

