body {
    background-color: black !important;
    font-family: 'Poppins';
    font-size: 16px;
    color: #777E90 !important;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

p {
    font-family: 'Poppins';
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Germania One';
    color: #EAC88C !important;
}

h1 {
    font-size: 64px !important; /* Adjust the font size for h1 */
}

h2 {
    font-size: 64px !important; /* Adjust the font size for h2 */
}

h3 {
    font-size: 48px; /* Adjust the font size for h3 */
}

h4 {
    font-size: 1.5rem; /* Adjust the font size for h4 */
}

h5 {
    font-size: 2rem !important; /* Adjust the font size for h5 */
}

h6 {
    font-size: 1.4rem !important; /* Adjust the font size for h6 */
}
.carousel img {
    width: 328px; /* Limit the height on larger screens */
}

.image-button {
    font-family: 'Germania One';
    font-size: 28px !important;
    color: #EAC88C !important;
    background-image: url('./images/button.webp'); /* Replace 'button-background.jpg' with the path to your button image */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 320px; /* Adjust width and height based on your button image */
    height: 65px;
    font-size: 18px; /* Text size */
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Center the text vertically */
    cursor: pointer;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    transition: opacity 0.3s ease; 
}


.image-button a {
	color: inherit !important;
	text-decoration: none !important;
}

.test {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.civ-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust spacing between icons */
    opacity: 0.5;
}

.egypt-icon {
    background-image: url('https://dvaiulh40vjp3.cloudfront.net/logos-icons/civs-icons/gray/egypt.png'), url('./images/icon.webp');
    background-size: 30% auto, contain; /* Set the size of each background image */
    background-position: center, center; /* Position each background image */
    opacity: 1;
}

.greece-icon {
    background-image: url('https://dvaiulh40vjp3.cloudfront.net/logos-icons/civs-icons/gray/greece.png'), url('./images/icon.webp');
    background-size: auto 70%, contain; /* Set the size of each background image */
    background-position: center, center; /* Position each background image */
}

.norse-icon {
    background-image: url('https://dvaiulh40vjp3.cloudfront.net/logos-icons/civs-icons/gray/norse.png'), url('./images/icon.webp');
    background-size:  50% auto, contain; /* Set the size of each background image */
    background-position: center, center; /* Position each background image */
}
/* Hover effect (optional) */
.image-button:hover {
    /* Add hover effect styles */
    opacity: 0.8; /* For example, reduce opacity */
}

.navbar-item link {
	cursor: pointer;
}

.navbar-brand,
.navbar-nav .nav-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}


.nav-item {
	padding-left: 1.5rem;
}
.nav-link {
    color: #777E90 !important;
    font-family: 'SF Pro Display', sans-serif;
}

.nav-link img {
  filter: grayscale(1%) saturate(1%) contrast(1%); !important;
}

.rounded-button {
	margin-top: 1rem;
  width: 150px; /* Three times wider than tall */
  height: 50px;
  border-radius: 25px; /* Half of the height to make it rounded */
  border-color: #777E90 !important;
  background-color: transparent;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
  transition: opacity 0.3s ease;
}

.rounded-button a {
	color: inherit !important;
	text-decoration: none !important;
}

.rounded-button:hover {
    /* Add hover effect styles */
    opacity: 0.8; /* For example, reduce opacity */
}


.divider {
  background-image: url("images/divider2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Adjusted background position */
  width: 100vw;
  height: 1vh;
}


.hero {
    background-image: url("images/background/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
    height: 100vh !important;
}

.about-cards {
    background-image: url("images/background/about-cards.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh !important;
/*    padding: 80px 160px 80px 80px;*/
}

.rarities {
	height: 140vh !important;
}

.rarities p {
	font-size: 16px !important;
}

.rarities .cards img {
/*	width: 18vw;*/
	max-height: 30vh;
	width: auto;
/*	height: auto;*/
}

.rarities .viking img {
	
	max-height: 50vh;
/*	width: 100vw;*/
	width: auto;
}

.rarities .col h6 {
    margin-top: 24px; /* Add margin-top to create spacing between the image and the header */
}

.rarities p {
	color: #777E90;
}

.common h6 {
	color: #9D958C !important;
}

.rare h6 {
	color: #7F6AC1 !important;
}

.epic h6 {
	color: #C34D85 !important;
}

.legendary h6 {
	color: #D17923 !important;
}

.foils {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/foils.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 80px 160px 80px 80px;
    height: 100vh !important;
}

.foils .viking img {
	max-height: 70vh !important;
	width: auto;
}

.attack-types {
	padding: 80px 160px 80px 80px;
}

.attack-types p {
	color: #777E90;
}

.p2e {
    background-image: url("images/background/p2e.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
/*    padding: 80px 160px 80px 80px;*/
    height: 100vh !important;
}


.p2e img {
	width: auto !important;
	max-height: 90vh !important;
}

.p2e p {
	color: #777E90;
	font-size: 16px !important;
}

.join {
	padding: 80px 160px 80px 80px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/join.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Adjusted background position */
  height: 80vh;
}


.footer {
	height: 15vh !important;
	font-size: "Poppins";
	color: white;
}

.footer img:hover {
    cursor: pointer;
    opacity: 0.8; /* For example, reduce opacity */
}


@media (max-width: 768px) {
    /* Adjust background image size for smaller screens if necessary */
    .hero {
        background-size: contain;
    }
}

.logoContainer {
	max-width: 1000px;
	margin-top: 5%;
}

.logoContainer img {
	width: 150% !important;
}



.melee {
    background-image: url("images/background/melee.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
}

.ranged {
    background-image: url("images/background/ranged.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
}

.magic {
    background-image: url("images/background/magic.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
}

.attack {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 45rem !important; /* Adjust the height as needed */
    border-radius: 30px; /* Adjust the border radius as needed */
}

.card-body {
    height: 100%;
    padding-bottom: 40% !important;
}
.melee.attack,
.ranged.attack,
.magic.attack {
    display: flex;
}

.melee.attack .card-body,
.ranged.attack .card-body,
.magic.attack .card-body {
    flex-direction: column;
    justify-content: flex-end;
}