html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: black;
    font-family: 'Poppins';
    color: #777E90 !important;
    width: 100vw !important;
}

p {
    font-family: 'Poppins';
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Germania One';
    color: #EAC88C !important;
}

.silver {
  color: #A7A7A7 !important;
}

.foils p {
  color: #777E90 !important;
}

.navbar {
	--bs-navbar-toggler-border-color: white !important;
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.image-button {
    font-family: 'Germania One';
    font-size: 28px !important;
    color: #EAC88C !important;
    background-image: url('./images/button.webp'); /* Replace 'button-background.jpg' with the path to your button image */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 320px; /* Adjust width and height based on your button image */
    height: 65px;
    font-size: 18px; /* Text size */
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Center the text vertically */
    cursor: pointer;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    transition: opacity 0.3s ease; 
}


.image-button a {
	color: inherit !important;
	text-decoration: none !important;
}

.civ-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust spacing between icons */
    opacity: 0.5;
}

.egypt-icon {
    background-image: url('https://dvaiulh40vjp3.cloudfront.net/logos-icons/civs-icons/gray/egypt.png'), url('./images/icon.webp');
    background-size: 30% auto, contain; /* Set the size of each background image */
    background-position: center, center; /* Position each background image */
    opacity: 1;
}

.greece-icon {
    background-image: url('https://dvaiulh40vjp3.cloudfront.net/logos-icons/civs-icons/gray/greece.png'), url('./images/icon.webp');
    background-size: auto 70%, contain; /* Set the size of each background image */
    background-position: center, center; /* Position each background image */
}

.norse-icon {
    background-image: url('https://dvaiulh40vjp3.cloudfront.net/logos-icons/civs-icons/gray/norse.png'), url('./images/icon.webp');
    background-size:  50% auto, contain; /* Set the size of each background image */
    background-position: center, center; /* Position each background image */
}
/* Hover effect (optional) */
.image-button:hover {
    /* Add hover effect styles */
    opacity: 0.8; /* For example, reduce opacity */
}

.rounded-button {
	margin-top: 1rem;
  width: 150px; /* Three times wider than tall */
  height: 50px;
  border-radius: 25px; /* Half of the height to make it rounded */
  border-color: #777E90 !important;
  background-color: transparent;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
  transition: opacity 0.3s ease;
}

.rounded-button a {
	color: inherit !important;
	text-decoration: none !important;
}

.rounded-button:hover {
    /* Add hover effect styles */
    opacity: 0.8; /* For example, reduce opacity */
}


.divider {
  background-image: url("images/divider2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Adjusted background position */
  width: 100vw;
  height: 1vh;
}

.nav-link {
    color: #777E90 !important;
    font-family: 'SF Pro Display', sans-serif;
}

.nav-link img {
  filter: grayscale(1%) saturate(1%) contrast(1%); !important;
}   

.inverted-image {
  filter: invert(1);
}

.collab {
  padding: 100px;
}

.collab h1 {
  padding: 50px;
}

#rarities, #attack-types, #p2e, #join {
    background-color: black;
    color: white; /* Ensure the text is readable on the black background */
    padding: 20px; /* Optional: Adjust padding as needed */
    background-image: none; /* Ensure no background image is set */
}

.footer {
    background-color: black;
    color: white; /* Ensure the text is readable on the black background */
    padding: 20px; /* Optional: Adjust padding as needed */
    background-image: none; /* Ensure no background image is set */
}

@media (max-width: 768px) {
  /* Adjust background image size for smaller screens if necessary */
  body {
    background-size: 100% auto;
    background-image: url("images/background/hero-mobile.webp");
    background-repeat: no-repeat;
    background-position: center top; /* Adjusted background position */
    height: 100vh !important;
    font-size: 16px;
  }

  .collab img {
  	width: 150px;
    max-height: 50px;
  }

  .logoContainer {
  	max-width: 1000px;
  }

  .logoContainer button {
  	margin-top: 10px !important;
  }

	.rarities .cards img {
		max-width: 80vw;
		width: auto;
	}

  .rarities .row {
  	display: inline-flex !important;
  	flex-wrap: wrap !important;
    max-width: 80vw;
  }

  .foils {
  	padding: 4px 8 4px 8;
  }
  .foils img {
  	width: 150px;
  }

  .attack-types img {
  	width: 150px;
  }

  .navbar {
  	background-color: rgba(0,0,0,.5) !important;
  }

	.navbar-item link {
		cursor: pointer;
	}

	.navbar-brand,
	.navbar-nav .nav-link {
	    padding-top: 0.5rem;
	    padding-bottom: 0.5rem;
	    padding-right: 0.5rem;
	}

	.nav-item {
		padding-left: 0.5rem;
	}

	.about-cards .cards img {
		max-height: 50vh;
    margin-bottom: 5vh;
	}

  .about-cards h1 {
    margin-top: 7vh;
  }

  .footer {
    height: 30vh;
    margin-bottom: 55px;
  }
}

@media (min-width: 769px) {
	h1 {
	    font-size: 64px !important; /* Adjust the font size for h1 */
	}

	h2 {
	    font-size: 64px !important; /* Adjust the font size for h2 */
	}

	h3 {
	    font-size: 48px; /* Adjust the font size for h3 */
	}

	h4 {
	    font-size: 1.5rem; /* Adjust the font size for h4 */
	}

	h5 {
	    font-size: 2rem !important; /* Adjust the font size for h5 */
	}

	h6 {
	    font-size: 1.4rem !important; /* Adjust the font size for h6 */
	}

  .block {
    margin-top: 30px;
    padding: 40px 160px 40px 160px;
  }

	.collab img {
    width: 300px;
    height: auto;
	}

  .hero {
    background-size: cover;
    background-image: url("images/background/hero.webp");
    background-repeat: no-repeat;
    background-position: center top; /* Adjusted background position */
    height: 100vh !important;
    padding: 80px 160px 80px 160px;
    font-size: 16px;
  }
  .logoContainer {
			max-width: 1000px;
			margin-top: 5%;
  }

  .rarities {
/*    	height: 140vh !important;*/
  }

  .p2e .container {
    max-width: 60%;
  }

  .p2e h2 {
    margin-top: 50px;
  }

	.rarities .cards img {
		max-width: 10vw;
		width: auto;
	}

  .rarities .row {
  	display: flex !important;
  	flex-wrap: wrap !important;
  }

  .foils h2 {
    margin-bottom: 50px;
  }

  .foils img {
  	width: 200px;
  }

  .card-description {
		height: 40%; display: grid; padding: 24px; margin-top: 15%;
  }

  .attack-types h2 {
    margin-bottom: 25px;
  }

  .attack-types .card-body img {
    margin-bottom: 10%;
  }

  .attack-types .attack-description {
    height: 20%;
  }

	.navbar-item link {
		cursor: pointer;
	}

	.navbar-brand,
	.navbar-nav .nav-link {
	    padding-top: 2rem;
	    padding-bottom: 2rem;
	    padding-right: 1rem;
	}

	.nav-item {
		padding-left: 1.5rem;
	}
	.navbar-brand {
		margin-left: 150px;
	}

	.try-the-game {
		margin-right: 150px;
	}

	.about-cards {
		height: 100vh !important;
	}

  .footer {
    margin-bottom: 55px;
  }
}

.carousel img {
    width: 30vh !important; /* Limit the height on larger screens */
}

.about-cards {
  background-image: url("images/background/about-cards.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


.rarities p {
	font-size: 16px !important;
}


.rarities .viking img {
	max-height: 50vh;
	width: auto;
}

.rarities .col h6 {
    margin-top: 24px; /* Add margin-top to create spacing between the image and the header */
}

.rarities p {
	color: #777E90;
}

.common h6 {
	color: #9D958C !important;
}

.rare h6 {
	color: #7F6AC1 !important;
}

.epic h6 {
	color: #C34D85 !important;
}

.legendary h6 {
	color: #D17923 !important;
}

.foils {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/foils.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.foils .viking img {
	max-height: 70vh !important;
	width: auto;
}


.attack-types p {
	color: #777E90;
}

.p2e {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/p2e.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}


.p2e img {
	width: auto !important;
	max-height: 90vh !important;
}

.p2e p {
	color: #777E90;
	font-size: 16px !important;
}

.join {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/join.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* Adjusted background position */
  height: 80vh;
}


.footer {
/*	height: 15vh !important;*/
	font-family: "Poppins";
	color: white;
}

.footer img:hover {
    cursor: pointer;
    opacity: 0.8; /* For example, reduce opacity */
}

.melee {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/melee.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
}

.ranged {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/ranged.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
}

.magic {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("images/background/magic.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; /* Adjusted background position */
}

.attack {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 45rem !important; /* Adjust the height as needed */
    border-radius: 30px; /* Adjust the border radius as needed */
}

.card-body {
    height: 100%;
    padding-bottom: 40% !important;
}
.melee.attack,
.ranged.attack,
.magic.attack {
    display: flex;
}

.melee.attack .card-body,
.ranged.attack .card-body,
.magic.attack .card-body {
    flex-direction: column;
    justify-content: flex-end;
}

#video iframe {
  width: 100%;
  height: 500px;
}

#video {
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: -10;
  top: -1500px;
  transition: top 2s;
}